services:
  db:
    image: postgres:17-alpine
    container_name: brvm_postgres_db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: brvm_app
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app
    command: python -m app.main

volumes:
  postgres_data:
